<h2>
  Companies matching <%= params[:q] %>
</h2>

<ul>
  <% @companies.each do |company| %>
    <li><strong><%= company.charity_name %></strong><br>
        EIN: <%= company.ein %><br>
        <%= company.city %>, <%= company.state%> <br>
        Causes: <%= company.cause %><br>
        <%= link_to company.url, company.url %><br></li>
  <% end %>
</ul>
