<p id="notice"><%= notice %></p>

<p>
  <b>Ein:</b>
  <%= @company.ein %>
</p>

<p>
  <b>Dba:</b>
  <%= @company.dba %>
</p>

<p>
  <b>City:</b>
  <%= @company.city %>
</p>

<p>
  <b>State:</b>
  <%= @company.state %>
</p>

<p>
  <b>Status:</b>
  <%= @company.status %>
</p>

<p>
  <b>Country:</b>
  <%= @company.country %>
</p>

<p>
  <b>Status desc:</b>
  <%= @company.status_desc %>
</p>

Are you a managing agent for this nonprofit? If so, claim this nonprofit and provide information to allow for electronic donations. Register by linking your <%= link_to 'Paypal', '/auth/paypal?origin=' + @company.ein  %> and/or Dwolla accounts. Verification will be performed on all linked accounts.